{% extends 'layout.html' %}
{% load static %}

{% block title %}Locations{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1 class="display-4">Locations</h1>
  </div>

  {% for location in locations %}

  <h2><a href="{% url 'location' location.slug %}">{{ location.name }}</a></h2>

    <p class="lead">{{ location.memorial_count }} monument{{ location.memorial_count|pluralize }}</p>

    {{ location.formatted_description|safe }}

  {% endfor %}

</div>

{% endblock %}
