{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ memorial.pretty_name }}{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>{{ memorial.pretty_name }}</h1>
  </div>

  <div class="row">

  <div class="col-sm-9">

  {% if memorial.notes %}

      {{ memorial.notes }}

  {% endif %}

  {% if memorial.inscription %}

      <h2>Inscription</h2>

      {{ memorial.formatted_inscription|safe }}

  {% endif %}

  {% if memorial.names.all %}

      <h2>Names on this Memorial</h2>

      <table class="table table-striped table-condensed">
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Born
              </th>
              <th>
                  Died
              </th>
          </tr>

          {% for name in memorial.names.all %}

          <tr>
              <td>
                  {{ name }}
              </td>
              <td>
                  {{ name.date_of_birth }}
              </td>
              <td>
                  {{ name.date_of_death }}
              </td>
          </tr>

          {% endfor %}

      </table>

  {% endif %}

  <h2>Images</h2>

  {% for image in memorial.images.all %}

  <div class="col-xs-6 col-md-3">
      <a href="{{ image.image.url }}" class="thumbnail">
          {% thumbnail image.image "120x120" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image }}" class="img-thumbnail">
          {% endthumbnail %}
      </a>
  </div>

  {% empty %}

  <p>We do not have any images of this memorial.</p>

  {% endfor %}

  </div>

  <div class="col-sm-3">

      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Location</h3>
          </div>
          <div class="panel-body">
              {{ memorial.location.name }}
          </div>
      </div>

  </div>

</div>

{% endblock %}
