{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ memorial.pretty_name }}{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ memorial.pretty_name }}</h1>
</div>

<div class="row">

<div class="col-sm-9">

{% if memorial.notes %}

    {{ memorial.notes }}

{% endif %}

{% if memorial.inscription %}

    <h2>Inscription</h2>

    {{ memorial.inscription }}

{% endif %}

{% if memorial.names.all %}

    <h2>Names on this Memorial</h2>

    <table class="table table-striped table-condensed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Born
            </th>
            <th>
                Died
            </th>
        </tr>

        {% for name in memorial.names.all %}

        <tr>
            <td>
                {{ name }}
            </td>
            <td>
                {{ name.date_of_birth }}
            </td>
            <td>
                {{ name.date_of_death }}
            </td>
        </tr>

        {% endfor %}

    </table>

{% endif %}

</div>

<div class="col-sm-3">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Location</h3>
        </div>
        <div class="panel-body">
            {{ memorial.location.name }}
        </div>
    </div>

</div>

{% endblock %}
