{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ memorial.pretty_name }}{% endblock %}

{% block head_meta %}
{% if not memorial.published %}<meta name="robots" content="noindex">{% endif %}
<link rel="alternate" href="{{ memorial.get_json_url }}" type="application/json">
{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1 class="display-4">{{ memorial.pretty_name }}</h1>
  </div>

  {% if memorial.description %}

      {{ memorial.formatted_description|safe }}

      <hr>

  {% endif %}

  <div class="row">

    <div class="col-sm-9">

    {% if memorial.inscription %}

        <h2>Inscription</h2>

        {{ memorial.formatted_inscription|safe }}

        <hr>

    {% endif %}

    {% if memorial.names.all %}

        <h2>Names on this Memorial</h2>

        {% if memorial.names.all|length > 6 %}
        <p>There are {{ memorial.names.all|length }} names on this memorial.</p>
        {% endif %}

        <table class="table table-striped table-sm">
            <thead class="thead-light">
              <tr>
                  <th>
                      Name
                  </th>
                  <th>
                      Date of Birth
                  </th>
                  <th>
                      Date of Death
                  </th>
              </tr>
            </thead>
            <tbody>

              {% for name in memorial.names.all %}

              <tr>
                  <td>
                      {% if name.honorific %}{{ name.honorific }} {% endif %}<b>{{ name }}</b>
                  </td>
                  <td>
                      {{ name.date_of_birth|default:"Unknown" }}
                  </td>
                  <td>
                      {{ name.date_of_death|default:"Unknown" }}
                  </td>
              </tr>

              {% endfor %}

            </tbody>

        </table>

        <hr>

      {% endif %}

      <h2>Images</h2>

      <div class="row">

      {% for image in memorial.images.all %}

        <div class="col-lg-3 col-md-4 col-6">
          <a href="{{ image.image.url }}" class="d-block mb-4 h-100">
            {% thumbnail image.image "250x250" as im %}
              <img class="img-fluid img-thumbnail" src="{{ im.url }}" alt="{{ image }}">
            {% endthumbnail %}
          </a>
        </div>

      {% empty %}

        <div class="col">
          <p>We do not have any images of this memorial.</p>
        </div>

      {% endfor %}

      </div>

    </div>

    <div class="col-sm-3">

      {% if not memorial.published %}
      <div class="alert alert-warning" role="alert">
        This memorial is not marked as published.
      </div>
      {% endif %}

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Location</h3>
          <p class="lead card-text">{{ memorial.location.name }}</p>
          {% if memorial.location_detail %}
          <p class="card-text">{{ memorial.location_detail }}</p>
          {% endif %}
        </div>
      </div>

      <div class="card mt-2"><small>
        <div class="card-body">
          <p class="card-text">Memorial ID <code>{{ memorial.slug }}</code>.</p>
          <p class="card-text">Last updated {{ memorial.updated_at|date:"j F Y" }}.</p>
        </div>
        <div class="card-footer"><a href="mailto:memorials@whitkirkchurch.org.uk">Report a problem with this record</a></div>
      </small></div>

    </div>

  </div>

</div>

{% endblock %}
