{% extends 'layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>About this project</h1>
  </div>

  <p>Memorials at Whitkirk aims to create a comprehensive record of every memorial at Whitkirk, along with the names of those commemorated, details of any inscriptions, location and photographs.</p>

  <p>It is currently in the early stages, focussing on memorials with particular historical or personal interest, and then progressing to cover the Church itself (which includes many memorials and tombs), the churchyard, Whitkirk Cemetery, and the Whitkirk Cenotaph.</p>

  <p>Most of the information on this website is available freely, for you to use as you wish. The exceptions are images and any written descriptions of memorials or people (such as the history of a memorial). In these cases you're free to use them as long as it's not for a commercial purpose, and as long as you mention St Mary's Church, Whitkirk.</p>

  <p>If you're interested in finding out more, or want to request a specific memorial be included earlier, please drop us an email to <a href="mailto:memorials@whitkirkchurch.org.uk">memorials@whitkirkchurch.org.uk</a>.</p>

</div>

{% endblock %}
