{% extends 'layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>About this project</h1>
  </div>

  <p>Memorials at Whitkirk aims to create a record of every burial, grave and memorial at Whitkirk, including names and dates, details of any inscriptions, location information and photographs. It's built on decades of record-keeping and historical work by dedicated volunteers, and is shared online to help make the history of Whitkirk – as well as those who lived and died here – more accessible.</p>

  <p>If you're interested in finding out more, want to share new information with us or tell us of a mistake, have any questions or just want to say hello please drop us an email to <a href="mailto:memorials@whitkirkchurch.org.uk">memorials@whitkirkchurch.org.uk</a>.</p>

  <p>Most of the information on this website (such as names and dates) is available freely, for you to use as you wish. The exceptions are images and any written descriptions of memorials or people (such as the history of a memorial). In these cases you're free to use them as long as it's not for a commercial purpose, and as long as you mention this website as the source. You can find attribution information at the bottom of every record.</p>

</div>

{% endblock %}
