{% extends 'layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>About this project</h1>
  </div>

  <p>Memorials at Whitkirk aims to create a comprehensive record of every memorial at Whitkirk, along with the names of those commemorated, details of any inscriptions, location and photographs.</p>

  <p>It is currently in the early stages, focussing on memorials with particular historical or personal interest, and then progressing to cover the Church itself (which includes many memorials and tombs), the churchyard, Whitkirk Cemetery, and the Whitkirk Cenotaph.</p>

  <p>The intent is that the information will be freely available for any purpose.</p>

  <p>If you're interested in finding out more, or want to request a specific memorial be included earlier, please drop us an email to <a href="mailto:memorials@whitkirkchurch.org.uk">memorials@whitkirkchurch.org.uk</a>.</p>

</div>

{% endblock %}
