{% extends 'layout.html' %}
{% load static %}

{% block title %}Disclaimer{% endblock %}

{% block content %}

<div class="container">

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Disclaimer</h1>
  </div>

  <p>The information on this website has been gathered by teams of dedicated volunteers over the past few decades, in some cases working from damaged inscriptions or partial records. Whilst we make every effort to ensure this information is as accurate as possible, we cannot guarantee that it is either complete or correct.</p>

  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h2>The Legal Bit</h2>
  </div>

  <p>The information contained on this website is for general information purposes only. St Mary's Church, Whitkirk assumes no responsibility for errors or omissions in its contents.</p>

  <p>In no event shall St Mary's Church, Whitkirk be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of this website or any information contained therein.

  <p>St Mary's Church, Whitkirk reserves the right to make additions, deletions, or modification to the information on this website at any time without prior notice.</p>

</div>

{% endblock %}
