{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
<h1 class="display-3">Memorials at Whitkirk</h1>
<p>This website is an ongoing project to record every memorial at Whitkirk.</p>
<p><a class="btn btn-primary btn-lg" href="{% url 'memorials' %}" role="button">List of memorials &raquo;</a> <a class="btn btn-primary btn-lg" href="{% url 'names' %}" role="button">List of names &raquo;</a></p>
</div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h2>About</h2>
            <p>Find out more about this project.</p>
            <p><a class="btn btn-secondary" href="{% url 'about' %}" role="button">Read more &raquo;</a></p>
        </div>

        <div class="col-md-6">
            <h2>Commonwealth War Graves</h2>
            <p>Whitkirk is the final resting place of many who fought and died in service of their country.</p>
            <p><a class="btn btn-secondary" href="{% url 'tag' 'cwgc' %}" role="button">View Commonwealth War Graves &raquo;</a></p>
        </div>

    </div>

</div>

{% endblock %}
